In [ ]:
import pymongo

In [ ]:
telephone = pymongo.MongoClient("mongodb://guvi:1234@cluster0-shard-00-00.npkg6.mongodb.net:27017,cluster0-shard-00-01.npkg6.mongodb.net:27017,cluster0-shard-00-02.npkg6.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-4xv6ds-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
db = telephone['telephone_database'] #create a database

In [ ]:
coll1 = db['telephone_directory']

In [ ]:
direct= [{"name":"mahesh","designation":"marketing_manager","mobile":9445000413},
             {"name":"kumar","designation":"engineer","mobile":9444964899},
             {"name":"rajesh","designation":"doctor","mobile":7402606005},
             {"name":"dinesh","designation":"marketing_manager","mobile":7373704561},
             {"name":"suresh","designation":"engineer","mobile":7397372823},
             {"name":"gokul","designation":"doctor","mobile":9443439329},
             {"name":"bala","designation":"engineer","mobile":9443434004},
             ]

In [ ]:
coll1.insert_many(direct)

In [ ]:
for i in coll1.find({},{"_id":0}):
  print(i)

{'name': 'mahesh', 'designation': 'marketing_manager', 'mobile': 9445000413}
{'name': 'kumar', 'designation': 'engineer', 'mobile': 9444964899}
{'name': 'rajesh', 'designation': 'doctor', 'mobile': 7402606005}
{'name': 'dinesh', 'designation': 'marketing_manager', 'mobile': 7373704561}
{'name': 'suresh', 'designation': 'engineer', 'mobile': 7397372823}
{'name': 'gokul', 'designation': 'doctor', 'mobile': 9443439329}
{'name': 'bala', 'designation': 'engineer', 'mobile': 9443434004}

To delete all documents in collections

In [ ]:
#coll1.delete_many({})

In [ ]:
coll1.update_one({"name":"mahesh"},{'$set':{"designation":"AME","mobile":9738465729}})

In [ ]:
for i in coll1.find({"designation":{"$in":["engineer","doctor"]}},{"_id":0,"name":1,"designation":1,"mobile":1}):
  print(i)

{'name': 'kumar', 'designation': 'engineer', 'mobile': 9444964899}
{'name': 'rajesh', 'designation': 'doctor', 'mobile': 7402606005}
{'name': 'suresh', 'designation': 'engineer', 'mobile': 7397372823}
{'name': 'gokul', 'designation': 'doctor', 'mobile': 9443439329}
{'name': 'bala', 'designation': 'engineer', 'mobile': 9443434004}

In [ ]:
coll1.delete_one({'designation':"AME"})

In [ ]:
for i in coll1.find({},{'_id':0,'designation':1,"name":1}):
  print(i)

{'name': 'kumar', 'designation': 'engineer'}
{'name': 'rajesh', 'designation': 'doctor'}
{'name': 'dinesh', 'designation': 'marketing_manager'}
{'name': 'suresh', 'designation': 'engineer'}
{'name': 'gokul', 'designation': 'doctor'}
{'name': 'bala', 'designation': 'engineer'}